.nav {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;

  #align-left {
    display: block;
    margin: auto;
    font-weight: lighter;
    letter-spacing: 4px;
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;

    p:hover {
      font-weight: bolder;
    }

    .same-row {
      float: left;
      margin-top: 10%;
      margin-left: 20px;
    }
  }

  #align-right {
    display: flex;
    flex-direction: row;

    p {
      margin-right: 20px;
      font-size: 17px;
      font-weight: 300;
      cursor: pointer;
    }

    .circular {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      margin-right: 15px;
      margin-left: 30px;
      cursor: pointer;

      img {
        max-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }

    p:hover {
      font-weight: normal;
    }
  }
}
