.dash-body {
  display: flex;
  justify-content: center;

  &__new-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7vh;

    p {
      font-size: 24px;
      font-weight: 500;
      text-align: center;
    }

    &__input {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 462px;
      width: 60vw;
      height: 70px;
      border-radius: 50px 50px 50px 50px;
      background-color: white;
      padding-left: 30px;

      input {
        background: transparent;
        width: 25vw;
        border: none;
        font-size: 20px;
        color: rgb(192, 192, 192);
      }

      input:focus {
        outline: none;
      }

      ::placeholder {
        color: rgb(192, 192, 192);
      }

      .vertical-line {
        border-left: solid thin rgb(212, 212, 212);
        margin-right: 14px;
        margin-left: -20px;
      }

      .MuiSelect-select {
        min-width: 69px;
      }

      .MuiFormControl-root {
        display: flex;
        right: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: space-between;
      }

      button {
        margin-right: 30px;
        border-radius: 50px 50px 50px 50px;
        width: 170px;
        margin: 10px 20px 10px 10px;
      }
    }

    &__list-cards {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      width: 100%;
      height: 500px;

      .cards-title-left {
        display: flex;
      }

      .card {
        width: 100px;
      }

      .card-image {
        width: 100px;
        height: 140px;
      }

      &__card-grid {
      }
    }
  }
}
